= search_form_for @q, url: root_path, method: :get, class: 'right' do |f|
  = f.label :content_or_title_cont, class:'sr-only'
  = f.search_field :content_or_title_cont, class:'form-controlmr-sm-2'

  = f.submit