body.text-center

  h2
    | Change info
  .form-signin
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      == render "user/shared/error_messages", resource: resource
      h4
        strong
          | Email:
        p
          = @user.email
      br

      = f.label :avatar, class: 'sr-only'
      = f.file_field :avatar, id: "avatar", autofocus: true, autocomplete: "avatar", class: 'form-control'
      br

      = f.label :username, class: 'sr-only'
      = f.text_field :username, id: "username", autofocus: true, autocomplete: "username", class: 'form-control'

      br
      =f.submit "Update", class: 'btn btn-lg btn-primary btn-block'

  = link_to  " Home >>", root_path