
body.text-center
  h2 Sign up
  .form-signin
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "user/shared/error_messages", resource: resource

      = f.label :username, class: 'sr-only'
      = f.text_field :username, autofocus: true, id: 'username' , autocomplete: "username", class: 'form-control', placeholder: 'username'


      = f.label :email, class: 'sr-only'
      = f.email_field :email, autofocus: true, id: 'email',autocomplete: "email", class: 'form-control', placeholder: 'email'

      = f.label :password, class: 'sr-only'
      = f.password_field :password, autocomplete: "new-password", id: 'password', class: 'form-control', placeholder: 'password'

      = f.label :password_confirmation, class: 'sr-only'
      = f.password_field :password_confirmation, autocomplete: "new-password", id: 'confirm_password', class: 'form-control', placeholder: 'confim password'

      =f.submit "Sign up", class: 'btn btn-lg btn-primary btn-block'

  = render "user/shared/links"