form.form-horizontal
fieldset
legend = I18n.t(".actions.post.update.title")

= form_for @post, url: post_path, html: { method: :patch}  do |f|
  = render 'form', f: f

  / = f.label :title, class: 'form-group col-md-4 control-label'
  / = f.text_field :title, id: "title",autocomplete: "title", class: 'form-control col-md-4 input-md', placeholder: 'title'
  / br
  / = f.label :content, class: 'form-group col-md-4 control-label'
  / = f.text_field :content, id: "content", autocomplete: "content", class: 'form-control col-md-4 input-md', placeholder: 'content'
  / br
  / - if @post.cover_image.attached?
  / = image_tag @post.cover_image, class: 'img img-2'
  / .clearfix
  / = f.label :cover_image, class: 'form-group col-md-4 control-label'
  / = f.file_field :cover_image, autocomplete: "cover_image", class: 'form-control col-md-4 input-md', placeholder: 'cover_image'
  / =f.submit "#{I18n.t(".actions.post.update.button")}", class: 'btn btn-lg btn-primary btn-block col-md-2'
