.ftco-section
  .container
   .row.px-md-4
      .col-md-12
          .blog-entry.ftco-animate.d-md-flex.fadeInUp.ftco-animated
            - if @post.cover_image.attached?
              = image_tag  @post.cover_image, class:'img img-2'
              .text.text-2.pl-md-4
                h3.mb-2
                  a = @post.title
                p = @post.content
                .meta-wrap
                  p.meta
                    span
                      .i.fa.fa-calendar
                      | created_at :
                      = @post.created_at
                    br
                    span
                      i.fa.fa-user
                      | author :
                      = @post.user.username
                    br
                    span
                      i.fa.fa-comment
                      | comment :
                      = @post.comments.count
                p.mb-4
                = link_to post_like_index_path(@post.id), class: 'btn btn-primary', method: :post, remote: true
                  | like
                  i.fa.fa-thumbs-up
                  i class="like_#{@post.id}"
                    = @post.likes.count
                = link_to post_book_mark_index_path(@post.id), class: 'btn btn-danger', method: :post, remote: true
                  | bookmark
                  i.fa.fa-heart
                  i class="bookmark_#{@post.id}"
                    = @post.bookmarks.count
                = form_for @comment, url:post_comment_index_path(post_id: @post.id), method: :post do |f|
                  .form-group
                    = f.text_field :content, autofocus: true, autocomplete: "content", class: 'form-control input-md-3'
                      br
                    =f.submit "comment", class: 'btn btn-primary'