.container
  .row
    - @post.each do |post|
      .col-md-4

        h2 =post.title
        p =post.content
        - if post.cover_image.attached?
          = image_tag  post.cover_image, heigh:"250px", width:"300px"
        p
          = link_to 'View details »', post, class: 'btn btn-secondary'
          = link_to confirm_post_path(post.id),class: 'btn btn-primary', method: :post
            | #{I18n.t(".button.agree")}
          = link_to cancel_post_path(post.id), class: 'btn btn-danger', method: :post
            | #{I18n.t(".button.refuse")}
          = link_to delete_post_path(post), class: 'btn btn-danger', method: :delete
            | #{I18n.t(".button.delete")}
  .row
    .col-md-4
      == pagy_bootstrap_nav(@pagy)