body.text-center

  h2
    | Change your password
  .form-signin
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render "user/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token

      = f.label :password, "New password", class: 'form-control'
      = f.password_field :password, autofocus: true, autocomplete: "new-password"

      = f.label :password_confirmation, "Confirm new password", class: 'form-control'
      = f.password_field :password_confirmation, autocomplete: "new-password"

      = f.submit "Change my password", class: 'btn btn-lg btn-primary btn-block'

  = render "user/shared/links